body {
    padding-top: 70px;
}

.img-responsive {
    margin: auto;
}
.togglebutton{
    display: inline-block;
}
.battlenet{
    background-image: url("");
}
.lol{
    background-image: url("");
}
.v-steam{
    background-image: url("");
}
.yt{
    background-image: url("");
}