body {
    padding-top: 70px;
}

.img-responsive {
    margin: auto;
}
.togglebutton{
    display: inline-block;
}
.platform-i{
    padding-right: 2px;
    padding-left: 0px;
}
.platform-t{
    padding-left: 0px;
    word-break: break-all;
}
.battlenet{

}
.lol{

}
.v-steam{

}
.yt{

}