body {
    background-color: #fbfbfb;
}


.trap{
    width: 100%;
    height: 54px;
    background:white;
    transform: perspective(7px) rotateX(-3deg);
    margin-top: 7px;

}
.first{
    border-left: solid #ccc 3px;
}
.trap-{
    width: 100%;
    height: auto;
    transform: perspective(7px) rotateX(3deg);
    padding-left: 1rem;
    padding-right: 1rem;
}

.img-responsive {
    margin: auto;
}
.togglebutton{
    display: inline-block;
}
.platform-i{
    padding-right: 2px;
    padding-left: 0px;
}
.platform-t{
    padding-left: 0px;
    text-align: center;
    word-break: break-all;
}
.battlenet{
    text-align: center;
    word-break: break-all;
}
.lol{
    text-align: center;
    word-break: break-all;
}
.v-steam{

}
.yt{

}


.jumbotron{
    padding: 1rem 1rem;
}
.meme{
    margin-bottom: 4rem;
}
.m-title{
    text-align: left;
}
.m-title a{
    color: #000000;
}
.m-title a:hover{
    color: #000000;
    text-decoration: none;
}
.nav-tabs{
    background-color: purple;
}
.m-title h3{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}
.m-img{}
.m-bottom{}
.m-add{
    opacity: 1 !important;
    position: relative !important;
}
.teams{
    padding: 5px !important;
}
.t-title{
    text-align: center;
}
.t-title h3{
    margin-top: 15px;
    margin-bottom: 10px;
}
.t-title a{
    color: #000000;
}
.t-title a:hover{
    color: #000000;
    text-decoration: none;
}
.t-img{

}
.video{

}
.video .v-title h3{
    margin-bottom: 0px;
}
.v-title{
    text-align: left;
}
.v-title h3{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}
.v-title a{
    color: #000000;
}
.v-title a:hover{
    color: #000000;
    text-decoration: none;
}
.fa-6x{
    font-size: 15em !important;
    color: #9e9e9e;
    text-align: center;
}
.twitch{
    padding: 0px !important;
}
.embed-responsive-twitch-chat{
    padding-bottom: 175%;
}



.nav a {
    margin-right: 4px;
}

a {
    text-decoration: none;
}

.img-responsive {
    width: 100%;
}

footer {
    background-color: #8bc34a;
    color: #FFFFFF;
    font-size: 0.8rem;
}

.pre-footer {
    border-top: solid 6px #cccccc;
    background-color: #eaeaea;
    color: #969595;
}

.pre-f-p {
    font-size: 0.8rem !important;
    padding-left: 2rem !important;
}

.pre-f-p p {
    margin-bottom: 0.5rem !important;
}

.nav-green {
    background-color: #FFFFFF;
}

.navbar {
    text-align: center;
    border-radius: 0;
}

.p-t-5 {
    padding-top: 5rem !important;
}

.p-y-06 {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}

.top-stream {

    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    background-image: url("../img/bg-lol.jpg");
    color: #eaeaea;
}

.user-bdrop{
    background-color: #1e282c;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 450px;
    overflow: hidden;
}
.img-bd{
    width: 100%;

}

.top{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url("../img/bg-lol.jpg");
    color: #eaeaea;
}
.row-streams {
    padding-top: 10px;
}
.dots {
    height: 100%;
    background: url('../img/dots.png') repeat-x center;
    background-clip: padding-box;
}
.btn-white {
    border: solid 1px #EAEAEA;
    background-color: #FFFFFF;
    color: #8bc34a;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 5px;
    border-radius: 0px;
}

.text-ta {
    color: #e91e63;
}



.btn-white-lg {
    border: solid 1px #EAEAEA;
    border-left: solid 4px #8bc34a;
    background-color: #FFFFFF;
    color: #8bc34a;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 5px;
    border-radius: 0px;
}
.btn-white-lg .text{
    background-color: white;
}

.btn-white-lp {
    border: solid 1px #EAEAEA;
    border-left: solid 4px #e91e63;
    background-color: #FFFFFF;
    color: #e91e63;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 5px;
    border-radius: 0px;
}
.btn-white-lp .text{
    background-color: white;
}
.grey-box{
    background-color: #eaeaea;
}
.b-rp{
    border-right: solid 4px #e91e63;
}

.grey-box p{
    color: #afaeae;
}

.grey-box p:hover{
    color: #afaeae;
}



.btn-footer{
    font-weight: bold;
    color: #303030;
    border-left: solid 4px ;
}
.btn-footer .text{
    background-color: #eaeaea;
    padding-bottom: 2px;

}

.btn-clear-lg {
    text-align: left;
    border-left: solid 4px #8bc34a;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 5px;
    border-radius: 0px;
}

.btn-green {
    background-color: #8bc34a;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 5px;
    border-radius: 0px;
}
.btn-green a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn-green:hover {
    background-color: #82E115;
    color: #FFFFFF;
}

.btn-pink{
    background-color: #e91e63;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 5px;
    border-radius: 0px;
}

.btn-pink a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn-pink:hover {
    background-color: #fb0f5f;
    color: #FFFFFF;
}

.video {
    padding-top: 5px;
    padding-bottom: 5px;
}

.grey {
    background-color: #eaeaea;
    max-height: 30px;
}

.t-45 {
    -ms-transform: skewX(-45deg); /* IE 9 */
    -webkit-transform: skewX(-45deg); /* Safari */
    transform: skewX(-45deg); /* Standard syntax */
    background-color: #FFFFFF;
    border-right: solid #ccc 3px;

}

.t-45-active {

}

.t45 {
    -ms-transform: skewX(45deg); /* IE 9 */
    -webkit-transform: skewX(45deg); /* Safari */
    transform: skewX(45deg); /* Standard syntax */
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.last {
    border-right: none;
}

.t-45 a {
    text-decoration: none !important;
    cursor: pointer;
}

.t-45:hover {
    background-color: #ccc;
    max-height: 56px;
    border-bottom: solid #8bc34a 5px;
}

p {
    margin-bottom: 0px;
}

.nav p {
    color: #a5a5a5;
    font-size: 0.7rem;
}

p a {
    color: #d6d6d6;
    font-size: 0.8rem;

}

p a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.pre-f-p a{
    color: #969595;
}
.pre-f-p a:hover{
    color: #303030;
}