{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid top p-t-3 p-b-2">
    <div class="container">
        <div class="col-sm-12 btn-clear-lg p-l-1 ">
            {{ cms.title }}
        </div>
    </div>
</div>
<div class="container" style="margin-top: 10px">
    {% include 'ad.html.twig' %}
    {{ cms.text|markdown }}
</div>
{% endblock %}
