{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="center-block col-md-4" style="float: none;">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-danger" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>