{% extends "material/base.html.twig" %}

{% form_theme form ':material/Form:form.html.twig' %}

{% block body %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            Dodaj artykuł
        </h2>
    </div>
    <div class="container">
        {% block adbanner %}{{ parent() }}{% endblock %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
