{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-12 btn-clear-lg p-l-1 ">
                Game<span style="color: #8bc34a;">Servers</span>Status
            </div>
        </div>
    </div>
    <div class="container p-t-5 p-b-2">
        <a href="{{ url('status.wow') }}" class="btn btn-danger btn-block">WoW Realms</a>
        <a href="javascript:void(0)" class="btn btn-danger btn-block">
            Steam
            {% if steam.servertime %}
                ONLINE
            {% else %}
                OFFLINE
            {% endif %}
        </a>
    </div>
{% endblock %}