{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-12 btn-clear-lg p-l-1 ">
                Steam<span style="color: #8bc34a;">Server</span>Status
            </div>
        </div>
    </div>
    <div class="container p-t-5 p-b-2">
        {{ status.success }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
