{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-12 btn-clear-lg p-l-1 ">
                Steam<span style="color: #8bc34a;">Server</span>Status
            </div>
        </div>
    </div>
    <div class="container p-t-5 p-b-2">
        <div id="status">
            <div class="">
                <span class="">
                    Steam CMs
                </span>
                <span class="" id="cms">

                </span>
            </div>

            <div class="">
                <span class="">
                    Steam Store
                </span>
                <span class="" id="store">

                </span>
            </div>

            <div class="">
                <span class="">
                    Steam Community
                </span>
                <span class="" id="community">

                </span>
            </div>

            <div class="">
                <span class="">
                    Steam Web API
                </span>
                <span class="" id="webapi">

                </span>
            </div>

            <div class="">
                <span class="">

                </span>
                <span class="" id="">

                </span>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var id_array=["cms", "store", "community","webapi"];
        steam();

        function steam() {
            $.ajax({
                url: '{{ url('api.steam') }}',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    for (var i=0;i<id_array.length;i++){
//                        console.log(id_array[i]);
                        $("#"+id_array[i]).html(data['services'][id_array[i]]['title']);
                        $("#"+id_array[i]).addClass(data['services'][id_array[i]]['status']);
                    }
                }, error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api steam");
                }
            });
        }
    </script>
{% endblock %}
