{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-12 btn-clear-lg p-l-1 ">
                Steam<span style="color: #8bc34a;">Server</span>Status
            </div>
        </div>
    </div>
    <div class="container p-t-5 p-b-2">
        <div id="status">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        steam();

        function steam() {
            $.ajax({
                url: 'https://crowbar.steamdb.info/Barney',
                dataType: 'json',
                success: function (data) {
                    $("#status").append(data);
                }, error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api steam");
                }
            });
        }
    </script>
{% endblock %}
