{% extends 'all.html.twig' %}

{% block content %}
    <div class="container-fluid">
        {% for mem in meme %}
            <div class="meme jumbotron">
                <div class="m-title">
                    <h2>{{ mem.title }} </h2>
                </div>
                <div class="m-img">
                    <img src="{{ asset('assets/mem/') ~ mem.file }}" alt="" class="img-responsive">
                </div>
                <div class="m-bottom">
                    <small>{{ mem.date.date|date('d/m/Y') }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}