{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" id="jestemgraczem">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.rss.js') }}"></script>
    <script>
        jQuery(function ($) {
            $("#jestemgraczem").rss("http://blog.jestemgraczem.pl/rss", {
                limit: 5,
                effect: 'slideFastSynced',
                offsetStart: false,
                offsetEnd: false,
                ssl: false,
                layoutTemplate: '{entries}',
                entryTemplate: '<div class="col-md-3"><h4>{title} <small>{date}</small></h4><p>{shortBodyPlain}... <a href="{{ path('redirect') }}?url={url}" target="_blank">Czytaj dalej...</a></p></div>',
                dateFormat: 'HH:mm D/MM/YYYY',
            });
        });
    </script>
{% endblock %}
