{% extends 'base.html.twig' %}

{% block content %}
    <div class="row" id="jestemgraczem">
        <h1>JestemGraczem</h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.rss.js') }}"></script>
    <script>
        jQuery(function ($) {
            $("#jestemgraczem").rss("http://blog.jestemgraczem.pl/rss", {
                limit: 12,
                effect: 'slideFastSynced',
                offsetStart: false,
                offsetEnd: false,
                ssl: false,
                layoutTemplate: '{entries}',
                entryTemplate: '' +
                '<div class="col-md-4">' +
                '<div class="panel panel-default">' +
                '<div class="panel-heading">' +
                '<h3 class="panel-title">{title} <small>{date}</small></h3>' +
                '</div>' +
                '<div class="panel-body">' +
                '{shortBodyPlain}...' +
                '<a href="{{ path('redirect') }}?url={url}" target="_blank">Czytaj dalej...</a>' +
                '</div>' +
                '</div>' +
                '</div>',
                dateFormat: 'HH:mm D/MM/YYYY',
            });
        });
    </script>
{% endblock %}
