<div class="panel panel-default container">
    <div class="panel-body col-md-3">
        &copy; {{ "now"|date('Y') }}
        <span class="label label-danger">JestemGraczem.pl</span>
    </div>
    <div class="panel-body col-md-3 col-md-offset-6">
        <span class="label label-info">Regulamin</span>
        <span class="label label-info">Polityka prywatności</span>
        <span class="label label-info">Kontakt</span>
    </div>
</div>