{% extends "material/base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        {% block adbanner %}{{ parent() }}{% endblock %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ url }}"></iframe>
        </div>
    </div>
{% endblock %}