{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                <span style="color: #8bc34a;">Turnieje</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron t-title">
            <h1>Wkrótce!</h1>
            <p>Obecnie trwają prace, by przygotować system turniejowy! Liczymy, że cierpliwość się Wam opłaci :)</p>
            {% for turniej in promo %}
                {{ turniej.name }} |
            {% endfor %}
            {% for turniej in my %}
                {{ turniej.id }} - {{ turniej.name }} - {{ turniej.status }}<br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
