{% extends "material/base.html.twig" %}

{% block body %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            FIFA
        </h2>
    </div>
    <div class="container">
        {% block adbanner %}{{ parent() }}{% endblock %}
        :(
    </div>
{% endblock %}
