{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-12 btn-clear-lg p-l-1 ">
                Your<span style="color: #8bc34a;">Game</span>Center
            </div>
        </div>
    </div>
    <div class="container p-t-5 p-b-2">
        <div class="row">
            {% for game in games %}
                <div class="col-md-4">
                    <a href="{{ url(game.url) }}">
                        <img src="{{ asset('assets/img/') ~ game.img }}.png" class="img-responsive" alt="{{ game.title }}">
                        <h4 class="m-b-0 text-md-center" style="color: #000000;">{{ game.title }}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}