{% extends 'video.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>

    </div>
    <main class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="container-fluid">
                        {% if streams %}
                            {% for stream in streams %}
                                <div class="col-md-3">
                                <div class="meme jumbotron">
                                    <div class="v-title">
                                        <a href="">
                                            <h3></h3>
                                        </a>
                                    </div>
                                    <div class="v-img">
                                        <a href="">
                                            <img class="img-responsive" src="">
                                        </a>
                                    </div>

                                    <div class="v-bottom">

                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h1>Brak streamów :( Smutek.jpg</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="jumbotron col-xs-3" style="margin-left: 20px">
                {% block sidebar %}
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1191702130875167";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/JestemGraczemPL/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/JestemGraczemPL/"><a
                                        href="https://www.facebook.com/JestemGraczemPL/">JestemGraczem.pl</a>
                            </blockquote>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
