{% extends 'video.html.twig' %}

{% block menu %}
    <li>
        <a href="{{ path('stream') }}">
            <i class="fa fa-twitch" aria-hidden="true"></i> Lista Streamów
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>

    </div>
    <main class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="container-fluid" id="streams-container">

                    </div>
                </div>
            </div>
            <div class="jumbotron col-xs-3" style="margin-left: 20px">
                {% block sidebar %}
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1191702130875167";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/JestemGraczemPL/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/JestemGraczemPL/"><a
                                        href="https://www.facebook.com/JestemGraczemPL/">JestemGraczem.pl</a>
                            </blockquote>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var stream_c = 1;
        var stream_c_o = 0;
        var online_streams = 10;//liczba wyświetlanych streamów
        var total = {{ total }}+1;
        console.log(total);
        getstream();

        function getstream() {
            $.ajax({
                url: '{{ path('api.stream.id') }}/' + stream_c,
                dataType: 'json',
                success: function (stream) {
                    console.log(stream);
                    get_twitch(stream);
                },
                error: function () {
                    console.log("Coś poszło nie tak albo Błąd 404");
                    stream_c++;
                    if (stream_c_o < online_streams && stream_c < total) {
                        setTimeout(function () {
                            getstream()
                        }, 100);
                    }
                }
            });
        }
        function sort(ch_array) {

        }
        function get_twitch(stream) {
            $.ajax({
                url: 'https://api.twitch.tv/kraken/streams/' + stream["name"],
                dataType: 'jsonp',
                success: function (channel) {
                    if (channel["stream"] != null) {
                        var display = channel["stream"]["channel"]["display_name"];
                        var name = channel["stream"]["channel"]["name"];
                        console.log(display + " Online " + stream_c + " " + stream_c_o);
                        $("#streams-container").append('<div class="col-md-6" id="' + name + '"><div class="meme jumbotron"><div class="v-title" id="' + name + '_title"></div><div class="v-img" id="' + name + '_img"></div><div class="v-bottom" id="' + name + '_bottom"></div></div></div>');
                        $("#" + name).addClass('danger');
                        $("#" + name + "_status").html('ONLINE').css('font-weight', 'bold');
                        $("#" + name + "_game").html(channel["stream"]["game"]);
                        $("#" + name + "_viewers").html(channel["stream"]["viewers"]);
                        $("#" + name + "_title").html('<a href="#"><p>' + display + '<span style="float: right;color: gray;font-size: medium;">' + channel["stream"]["viewers"] + '</span></p></a>');
                        $("#" + name + "_img").html('<a href="#"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_' + name + '-320x180.jpg"> </a>');
                        stream_c++;
                        stream_c_o++;
                        if (stream_c_o < online_streams && stream_c < total) {
                            setTimeout(function () {
                                getstream()
                            }, 100);
                        }
                    } else {
                        console.log(stream["name"] + " Offline " + stream_c);
                        stream_c++;
                        if (stream_c_o < online_streams && stream_c < total) {
                            setTimeout(function () {
                                getstream()
                            }, 100);
                        }
                    }
                }
            });
        }
    </script>

{% endblock %}
